!!!5
html(lang='en')
  head
    title= file.title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    link(rel='stylesheet', href='/public/css/main.css', type='text/css', media='all')
  body
    h1 Hello World