!!!5
html(lang='en')
  head
    title= file.title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    link(rel='stylesheet', href='/public/css/main.css', type='text/css', media='all')
  body
    nav
      block nav
        ul.pages
          li: a(href="/") Home
          - if (files.pages)
            for page in files.pages
              li: a(href=page.href)= page.title
    #header-wrap
      block header
        h1 #{file.title}
    content
      block content
        .wrap!= file.prepared
    footer
      block footer
        :markdown
          Site built by [Codex](http://logicalparadox.github.com/codex).
    